<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>ztodo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>  <!-- 오류 코드: 404 -->
		<location>/404.html</location>  <!-- 오류 발생 시 리디렉션할 페이지 -->
	</error-page>
	<error-page>
		<error-code>403</error-code>  <!-- 오류 코드: 403 -->
		<location>/403.html</location>  <!-- 오류 발생 시 리디렉션할 페이지 -->
	</error-page>
</web-app>